.discovered-elements-area {
  max-width: 600px;
  min-height: 600px;
  width: 100%;
  border: 1px dashed gray;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.elements-list {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.button {
  background-color: #62bbdf;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #61c2e8;
  }
}
