@import "./range.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.icon-accessibility {
  @apply h-6 w-6 cursor-pointer hover:text-neutral-800;
}

.icon-inactive {
  @apply !text-neutral-300 hover:text-neutral-300;
}

* {
  @apply select-none;
}
